# Data Types

## 1.) Strings
String is wrapped in either single quotaion marks or double quotation marks.

For example: 
``` Python
str_a = 'Hello single quotes'
str_b = "Hello double quotes"
```
You can assign string to a variable:

In [1]:
x = "Hello World"
print (x)

Hello World

### **MultiLine String**

You can assign multiline string to a variable by using three quotation marks. (Again, both single quotation marks and double quotation mark work as long as the opening quotarion mark is the same as the ending quotation mark)

For example:

In [2]:
x = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print (x)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### Loop through a String

If you want to loop through a String, we will use a **for** loop (which we will cover in Chapter 6)  

Example:

In [3]:
for x in "apple":
    print (x)

a
p
p
l
e

### String Concatenation

To combin two Strings, you can use `+` operator.

Example:

In [3]:
a = "Good "
b = "Morning"
c = "!"
d = a + b + c
print (d)

Good Morning!

### String Methods

1- `capitalize()`: Convert the 1st character to upper case. 

Example:

In [1]:
text = "good night!"
capitalizedText = text.capitalize()
print (capitalizedText)

Good night!

2- `find()`: Search the string for a specified value and returns the position of where it was found. 

Example:

In [2]:
text = "You are beautiful."
x = text.find("are")
print (x)

4

3- `lower()`: Converts a string into lower case. 

Example:

In [6]:
text = "Hello my FRIENDS"
x = text.lower()
print (x)

hello my friends

4- `replace()`: Returns a string where a specified value is replaced with a specified value. 

Example:

In [5]:
text = "Good afternoon!"
x = text.replace("afternoon", "morning")
print (x)

Good morning!

5- `swapcase()`: Swaps cases, lower case becomes upper case and vice versa. 
    
Example:

In [8]:
text = "Have a Good DaY"
x = text.swapcase()
print (x)

hAVE A gOOD dAy

## 2.) Integers
Short form: Int

Integer is a whole number, positive or negative, without decimals, of unlimited length

Example of Integers:

In [10]:
x = 10
y = -53
z = 154638294742
a = -477639928888398

## 3.) Float
Float is a floating point number, is a number, positive or negative, containing one or more decimals.

Example of Float:

In [11]:
x = 1.50
y = -3.5
z = 10.0
a = -49.0

## 4.) Boolean
Booleans represent one of two values: True or False.
    
Example:

In [13]:
print (10 > 1)
print (2 == 2)
print (5 < 3)

True
True
False

## 5.) Lists
Lists are used to store multiple items in a single variable.

A list uses brucket. `[ ]`

Lists are mutable.

Lists allow duplicates

List items can be of any data type.

A list can contain different data type.

Example of a list:

In [17]:
exampleList = ["apple", "orange", "banana", "lemon", "orange", 1, -0.6, False]

### List length
For knowing the length of a list, use `len()`

Example:

In [16]:
exampleList = ["apple", "orange", "banana", "lemon", "orange"]
print (len(exampleList))

5

## 6.) Tuples
Tuples are written with round brackets ( )

A tuple is unchangeable.

Tuples allow duplicates.

Tuple items can be of any data type.

Tuples can contain different data type.

Example of a tuple:

In [18]:
exampleTuple = ("male", "female", "boy", "girl", "boy")

## 7.) Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values. { }

In [19]:
exampleDict = {"brand": "Tesla", "year": 2019, "color": "white"}